body {
    background-color: lightblue;
  }
  
  p {
    color: navy;
    margin-left: 20px;
  }
  div {
    margin: auto;
    width: 50%;
    border: 10px solid purple;
    padding: 10px;
  }
  p {
    font-family: "quicksand", Charcoal, sans-serif;
  }
  h1 {
    font-family: Impact, Charcoal, sans-serif;
  }
  .css-selector {
    font-family: 'Quicksand', serif;
    }

    .funnymonki {
      position:absolute;
      width:100px;
      height:100px;
      right:10px;
      top:100px;
}
.funnymonki2 {
  position:absolute;
  width:100px;
  height:100px;
  left:10px;
  top:100px;
    
    }
  .body {
  max-width: auto;
  max-height: auto;
  }
  .a {
    top: -2008;
    }

  .tech3 {   margin: auto;
    width: 50%;
    border: 10px solid purple;
    padding: 10px;
  
  }
.culture3 {
  margin: auto;
  width: 50%;
  border: 10px solid purple;
  padding: 10px;

}